{extend name="index/base"}

{block name="body"}

    <div class="layui-container-fluid">
        <div class="layui-row ">
            <div class="layui-col-md6">
                <div class="layui-elem-quote ">搜索框</div>
                <button data-method="notice" class="layui-btn ">示范一个公告层</button>
            </div>
            <div class="layui-col-md12 ">
                <div class="layui-elem-quote ">
                    <a href="http://www.layui.com" class="layui-btn layui-btn-normal">删除会员</a>
                    <a href="{:url('Index/member_add')}" class="layui-btn layui-btn-warm">添加会员</a>
                </div>
            </div>

            <table class="layui-table">
                <colgroup>
                    <col width="250">
                    <col width="300">
                    <col width="600">
                    <col>
                </colgroup>
                <thead>
                <tr>
                    <th>用户名</th>
                    <th>注册时间</th>
                    <th>用户密码</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {volist name="arr" id="vo"}
                <tr>
                    <td>{$vo.member_name}</td>
                    <td>{$vo.member_time}</td>
                    <td><input class="layui-input" type="text" value="{$vo.member_pwd}"></td>
                    <td><a class="layui-btn notice"  >删除</a> <a href="" class="layui-btn ">修改</a> <input type="hidden" name="member_id" value="{$vo.member_id}"> </td>
                </tr>
                {/volist}
                <tr>
                    <td>许闲心</td>
                    <td>2016-11-28</td>
                    <td>于千万人之中遇见你所遇见的人，于千万年之中，时间的无涯的荒野里…</td>
                    <td><a  class="layui-btn notice">删除</a> <a href="" class="layui-btn ">修改</a> </td>
                </tr>
                <tr>
                    <td>许闲心</td>
                    <td>2016-11-28</td>
                    <td>于千万人之中遇见你所遇见的人，于千万年之中，时间的无涯的荒野里…</td>
                    <td><a  class="layui-btn notice">删除</a> <a href="" class="layui-btn ">修改</a> </td>
                </tr>
                </tbody>
            </table>
        </div>
        {$page}


    </div>


{/block}

{block name="footer"}
<script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
<script>
    window.onload = init;
    function init(){
        $('input').prop({'disabled':'disabled'});
    };

    layui.use('layer', function(){ //独立版的layer无需执行这一句
        var $ = layui.jquery, layer = layui.layer; //独立版的layer无需执行这一句

        //触发事件
        $('.notice').on('click',function(){
                //示范一个公告层
            layer.msg('你确定要删除吗？', {
                time: 0 //不自动关闭
                ,btn: ['确定', '取消']
                ,yes: function(index){
                    layer.close(index);
                    var url = "{:url('Index/member_del')}";
                    var data = $("input[name='member_id']").val();
                    console.log(data);
                    $.ajax({
                        url:url,
                        type:'post',
                        dataType:'json',
                        data:{id:data},
                        success:function(succ){
                            //console.log('成功：'+succ);
                            layer.msg("删除成功",{icon:6});

                        },
                        error:function(error){
                            console.log('错误：'+error);
                        }

                    });

                    // layer.msg('雅蠛蝶 O.o', {
                    //     icon: 6
                    //     ,btn: ['嗷','嗷','嗷']
                    // });
                }
            });

        });





    });
</script>
{/block}