{extend name="index/base"}

{block name="body"}

<fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
    <legend>默认风格的Tab</legend>
</fieldset>
<form action="{:url('Article/article_add')}" method="post" class="layui-form" enctype="multipart/form-data" >
<div class="layui-tab">

    <ul class="layui-tab-title">
        <li class="layui-this">文章内容</li>
        <li>SEO管理</li>
    </ul>
    <div class="layui-tab-content">
        <div class="layui-tab-item layui-show">


                <div class="layui-form-item">
                    <label class="layui-form-label">文章标题</label>
                    <div class="layui-input-block">
                        <input type="text" name="article_title" lay-verify="title" autocomplete="off" placeholder="请输入标题" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">文章类型</label>
                    <div class="layui-input-block">
                        <select name="article_type" lay-filter="aihao">
                            <option value=""></option>
                            <option value="0">写作</option>
                            <option value="1">阅读</option>
                            <option value="2">游戏</option>
                            <option value="3">音乐</option>
                            <option value="4">旅行</option>
                        </select>
                    </div>
                </div>

                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">文章作者</label>
                        <div class="layui-input-inline">
                            <input type="tel" name="article_author"  autocomplete="off" placeholder="一叶知秋" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">文章来源</label>
                        <div class="layui-input-inline">
                            <input type="text" name="article_source"  autocomplete="off" placeholder="中港星" class="layui-input">
                        </div>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">文章封面图</label>
                    <input id="file" type="file" name="article_thum">
                    <div class="layui-inline layui-word-aux">
                        限制在2M以内
                    </div>
                </div>

                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">文本域</label>
                    <div class="layui-input-block">
                        <!-- 加载编辑器的容器 -->
                        <script id="container" name="article_text" type="text/plain">

                        </script>
                    </div>
                </div>

                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button type="submit"  class="layui-btn"  lay-filter="demo1">立即提交</button>
                    </div>
                </div>


        </div>
        <div class="layui-tab-item">

                <div class="layui-form-item">
                    <label class="layui-form-label">SEO标题</label>
                    <div class="layui-input-block">
                        <input type="text" name="article_stitle"  autocomplete="off" placeholder="请输入标题" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">SEO关键字</label>
                    <div class="layui-input-block">
                        <input type="text" name="article_skeyw"  placeholder="请输入" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">SEO描述</label>
                    <div class="layui-input-block">
                        <textarea name="article_sdes" placeholder="请输入内容" class="layui-textarea"></textarea>
                    </div>
                </div>
                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label"></label>
                    <div class="layui-input-block">
                        <button type="submit"  class="layui-btn layui-btn-normal">立即提交</button>
                    </div>
                </div>


        </div>
    </div>

</div>
</form>


<!-- 配置文件 -->
<script type="text/javascript" src="/ueditor/ueditor.config.js"></script>
<!-- 编辑器源码文件 -->
<script type="text/javascript" src="/ueditor/ueditor.all.js"></script>
<!-- 实例化编辑器 -->
<script type="text/javascript">
    var ue = UE.getEditor('container');

</script>


{/block}

{block name="footer"}
<script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js">
</script>
<script>
    function fn(){
        var data = $('form').serializeArray();
        console.log(data);
        var files = $('#file').prop('files');
        // var file = this.files[0];

        var formdata = new FormData();
        console.log(files[0]);
        formdata.append("file",'123',files[0]);

        console.log(formdata);
        url = "{:url('Article/article_add')}";
        $.ajax({

            type:'post',
            url:url,
            dataType:'json',
            cache:false,
            processDate:false,
            contentType:false,
            data:data,
            success:function(succ){
                console.log('成功：'+succ);
            },
            error:function(error){
             console.log('失败：'+error);
            }

        });

    }
</script>
{/block}

