{extend name="index/base"}

{block name="body"}

<div class="layui-col-md12">
    <div class="layui-elem-quote ">栏目列表</div>
</div>
<div class="layui-col-md12 ">
    <div class="layui-elem-quote ">
        <a href="http://www.layui.com" class="layui-btn layui-btn-normal">删除栏目</a>
        <a href="{:url('Article/category_add')}" class="layui-btn layui-btn-warm">添加栏目</a>
    </div>
</div>
<table class="layui-table">
    <colgroup>
        <col width="150">
        <col width="250">
        <col width="500">
        <col width="500">
        <col>
    </colgroup>
    <thead>
    <tr>
        <th>全选/全不选</th>
        <th>栏目名</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    {volist name="arr" id="vo"}
    <tr>
        <td><input type="checkbox" name=""></td>
        <td>{$vo.category_name}</td>
        <td>
            <!--<a href="{:url('Article/category_del',['id'=>$vo['category_id']])}" class="layui-btn notice">访问</a>-->
            <a href="{:url('Article/category_del',['id'=>$vo['category_id']])}" class="layui-btn notice">删除</a>
            <a href="{:url('Article/category_upd]',['id'=>$vo['category_id']])}" class="layui-btn ">修改</a> </td>
    </tr>
    {/volist}

    </tbody>
</table>

{/block}

